<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Primary">
        <button type="button" aria-label="Toggle navigation" aria-controls="site-nav-overflow" aria-expanded="false"><span class="navicon" aria-hidden="true"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="{{ '/#about-me' | relative_url }}">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul id="site-nav-overflow" class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>